	<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Classificat</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type= "text/css">
    <!-- <link href="../static/css/main.css" rel="stylesheet" type= "text/css"> -->
    
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" type= "image/x-icon">
    <!-- <link rel="icon" href="./favicon.png" type="image/x-icon"> -->
   
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    
</head>

<body>
    <section id="header">
        <div class="header container">
          <div class="nav-bar">
            <div class="brand">
              <a href="#hero"><h1><span>A</span>ctive <span>M</span>ap <span>I</span>mage <span>C</span>lassification</h1></a>
            </div>
            <div class="nav-list">
              <div class="hamburger"><div class="bar"></div></div>
              <ul>
                <li><a href="#hero" data-after="Home">Home</a></li>
                <li><a href="#projects" data-after="Projects">Project</a></li>
                <li><a href="#about" data-after="About">Working</a></li>
                <li><a href="#contact" data-after="Contact">Extra</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

             
      <section id="hero">
        <div class="hero container">
          <div>
            
            <h1>Welcome to <span></span></h1>
            <h1>Image Classification <span></span></h1>        
          </div>
        </div>
      </section>

      <!-- Projects Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title"> <span>Project</span> Information</h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>What is Image Classification?</h1>
            <h2>Classify Object</h2>
            <p> In Active Map Image Classification we trained model from the ImageNet dataset which contains a thousand classes with multiple images to classify image objects. Image Interpretability is the main concern for image classification, detection, In order to improve accuracy GRAD-CAM is the best method to localize objects in an image with high accuracy. GRAD-CAM utilizes the VGG model to give an output of object with actively mapping of that particular object.</p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
      <!-- End Projects Section -->

  <!-- About Section -->
  <section id="about">
    <div class="about ">
        <h1 class="section-title">Please Upload <span>Image</span> here</h1>   
    </div>    	
  </section>


    <section>
        <div class=" container">
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
        <h2 style="font-size : 2rem; color: black; justify-content: center;"  id="result"></h2>
        
    </section>
  
  

  <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
  <!-- <script src="../static/js/main.js" type="text/javascript"></script> -->
</body>

</html>